:root {
    --mdc-theme-primary: #4caf50;
    --mdc-theme-secondary: #ff9800;
    --mdc-theme-on-primary: #ffffff;
    --mdc-theme-on-secondary: #000000;
    --mdc-theme-background: #ffffff;
}

.mdc-text-field--focused:not(.mdc-text-field--disabled):not(.mdc-text-field--invalid) .mdc-floating-label {
    color: var(--mdc-theme-primary);
}