@import url("../mdc_theme.css");

body {
    margin: 0;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.login {
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--mdc-theme-background);
}

.login-container {
    position: absolute;
    display: block;
    margin: 0 auto;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 25%);
}

.login-switch {
    display: inline-flex;
    transition: all 400ms;
}

.login-url {
    margin-left: 400px;
    position: absolute;
}

#btn-back:hover {
    cursor: pointer;
}

#btn-extract {
    margin-top: -5px;
    float: right;
}

.mdc-text-field-helper-text {
    margin: -15px;
}

.mdc-text-field,
.login-bottom {
  display: block;
  width: 300px;
  margin: 20px auto;
}

.login-bottom > * {
    margin-left: 20px;
    float: right; 
}